bin/
obj/
xmr-stak-cpu.layout
xmr-stak-cpu.depend
config-debug.txt

# netbeans project files
/nbproject/

# tmp files
*~

# merge original backup files
*.orig

# KDevelop files
.kdev4/
xmr-stak.kdev4
buildvs2015/
build/.vs/
build/CMakeFiles/
build/x64/
build/xmr-stak.dir/
build/xmrstak_cuda_backend.dir/
build/xmrstak_opencl_backend.dir/
build/xmr-stak-backend.dir/
build/xmr-stak-c.dir/
